/**
 * Columbia theme for reveal.js.
 * Author: Moacir P. de Sá Pereira
 * Based on Solarized Dark theme for reveal.js by Achim Staebler
 */


// Default mixins and settings -----------------
@import "~reveal.js/css/theme/template/mixins.scss";
@import "~reveal.js/css/theme/template/settings.scss";
// ---------------------------------------------



// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

$mainFont: "EB Garamond", serif;
$headingFont: "Cinzel", serif;

// Colors

$washedBlue: #63859d;
$columbiaBlue: #b9d9eb;
$lightColumbiaBlue: #ebf4f9;
$darkBlue: #003099;


// Override theme settings (see ../template/settings.scss)
$mainColor: $lightColumbiaBlue;
$headingColor: $columbiaBlue;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: $washedBlue;
$linkColor: $columbiaBlue;
$linkColorHover: lighten( $linkColor, 10% );
$selectionBackgroundColor: $darkBlue;

.header-footer {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -100;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    display: flex;

    .twitter-slug {
      text-align: right;
      width: 100%;
      padding: 0.5rem;
      color: $columbiaBlue;
    }
  }

  footer {
    display: flex;
    align-items: flex-end;

    img {
      width: 50%;
    }
  }
}

.reveal .roman {
  font-style: normal;
}

.reveal .credit {
  text-align: right;
  font-size: 0.75rem;
}

// Theme template ------------------------------
@import "~reveal.js/css/theme/template/theme.scss";
// ---------------------------------------------
